
#op td
{
background-color: rgb(255, 215, 0);
}
td
{

}
th, td
{
    border: 5px solid;

}
.oopp
{
    border-collapse: collapse;
  color: mediumpurple;
  background-color: #B3FFC6;


}
.good
{
    text-align: center;
    color: purple;
    transition: 1s;
    width: 15%;

    margin: 0 auto;




}
.good:hover
{
  transform: scale(1.1);
    text-shadow: 5px 5px 5px mediumpurple;
    color: rebeccapurple;
    animation-name: animation1;
    animation-duration: 3s;

}
.kll
{
    background-image: url(https://i.redd.it/7h2qw1jl51b81.jpg);
}

.v
{
     background-color: mediumpurple;
}

.v:hover
{
    transform: scale(1.1);
}
#mateo
{
    background-color: mediumorchid;
        ;
}
@keyframes animation1{
0%
{
 width: 30%;
}
50%
{
  width: 100%;
    background-color: mediumpurple;
    border-radius: 20%;
}


}
